
sphinx>=8.0,<9.0
docutils
sphinx-rtd-theme
sphinx-autobuild
sphinx-multiversion
sphinx-copybutton
sphinx-design
myst-nb
nbsphinx
pandoc
lxml-html-clean #needed for nbsphinx functionalities
sphinx-mdinclude
autodocsumm==0.2.15
sphinx-toolbox>=3.5.0
qiskit==1.2.4
ipython
sphinx-inline-tabs